@import '_variables';

@mixin button($background, $text) {
    background-color: $background;
    color: $text;
    border: none;
    &:hover {
        background-color: darken($background, 5%);
    }
}

@mixin button-inverse($text, $background) {
    background-color: $background;
    color: $text;
    border: 0.1rem solid $text;
    &:hover {
        background-color: $text;
        color: $background;
    }
}

button,a[role="button"] {
    box-sizing: border-box;
    display: block;
    cursor: pointer;

    &:disabled {
        background-color: $almost-white;
        color: $disabled-text;
        cursor: not-allowed;

        &:hover {
            background-color: $almost-white;
            color: $disabled-text;
        }
    }
}

.btn {
    border-radius: $btn-border-radius;
    padding: 1.2rem 1rem;
    font-size: 2rem;
    width: 100%;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 500;
    outline: none;
    margin: 2rem 0;

    @media(min-width: $screen-md-min) {
        // min-width: 32rem;
    }
}

.btn-success {
    @include button($success-color, #fff);
}
.btn-error {
    @include button($error-color, #fff);
}
.btn-primary {
    @include button($main-color, #fff);
}
.btn-success-inverse {
    @include button-inverse($success-color, #fff);
}
.btn-error-inverse {
    @include button-inverse($error-color, #fff);
}
.btn-primary-inverse {
    @include button-inverse($main-color, #fff);
}


